@model CodeBase.Models.User

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Username)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Username)
    @Html.ValidationMessageFor(model => model.Username)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.JoinDate)
</div>
<div class="editor-field">
    @Model.JoinDate
</div>
<div>


@Html.DropDownList("role", Roles.GetAllRoles().Where(x => x!=Roles.GetRolesForUser().FirstOrDefault()).ToSelectList(x=>x,x=>x,Roles.GetRolesForUser().FirstOrDefault()))
</div>


