@model CodeBase.Models.User
@{
    ViewBag.Title = "My Settings";
}
@using (Html.BeginForm("EditSettings","Users"))
{
    <div class="input-form-title">My Settings</div>
    <div class="input-form">
        <div class="body">
            <div class="field">
                <div class="label">
                    Username
                </div>
                <div class="text">
                    @Model.Username
                </div>
                <div class="validation">
                    
                </div>
            </div>
            <div class="field">
                <div class="label">
                    @Html.Label("email", "Email")
                </div>
                <div class="input">
                    @Html.TextBox("email", Model.MembershipUser.Email, new { @class = "textfield" })
                </div>
                <div class="validation">
                    @Html.ValidationMessage("email")
                </div>
            </div>
        </div>
        <div class="buttons">
            <input type="submit" class="button " value="Submit" />
        </div>
    </div>
}

@using (Html.BeginForm("ChangePassword","Users"))
{
    <div class="input-form-title">Change password</div>
    <div class="input-form">
        <div class="body">
            <div class="field">
                <div class="label">
                    @Html.Label("oldpass", "Old password")
                </div>
                <div class="input">
                    @Html.Password("oldpass", null, new { @class = "textfield" })
                </div>
                <div class="validation">
                    @Html.ValidationMessage("oldpass")
                </div>
            </div>
            <div class="field">
                <div class="label">
                    @Html.Label("newpass", "New password")
                </div>
                <div class="input">
                    @Html.Password("newpass", null, new { @class = "textfield" })
                </div>
                <div class="validation">
                    @Html.ValidationMessage("newpass")
                </div>
            </div>
            <div class="field">
                <div class="label">
                    @Html.Label("newpass_confirm", "Confirm password")
                </div>
                <div class="input">
                    @Html.Password("newpass_confirm", null, new { @class = "textfield" })
                </div>
                <div class="validation">
                    @Html.ValidationMessage("newpass_confirm")
                </div>
            </div>
        </div>
        <div class="buttons">
            <input type="submit" class="button " value="Submit" />
        </div>
    </div>
}