@model CodeBase.ViewModel.QAViewModel
@{
    ViewBag.Title = "Details";
}
@using CodeBase.Models

<h1 class="question">@Model.question.Title</h1>
<div class="question-author">
<a class="author"href="@{string UserUrl = Html.BuildUrlFromExpression<UsersController>(c => c.Details(Model.question.Author.UserId));}@UserUrl">@Html.DisplayTextFor(_ => Model.question.Author.Username).ToString()</a>
@String.Format("{0:MMMM d, yyyy}", Model.question.Date)
</div>
<div class="question-content">
@Html.Raw(BBCodeHelper.Format(@Model.question.Content))
</div>
@Html.ActionLink("Edit", "Edit", new { id=Model.question.QuestionId })  | 
@(Html.ActionLink<QuestionsController>(x=> x.Delete(Model.question.QuestionId), "Delete"))
<span style="color:#999999;">|</span>
@if (Request.IsAuthenticated)
{
    String mes = null;
    if (ViewData["subscribed"].Equals("yes"))
    {
        mes = "Unsubscribe";
    }
    else
    {
        mes = "Subscribe";
    }
    <span id="trigger">@Html.Raw(mes) </span>
    
    <div id="dialog-confirm" title="Un/Subscribe to this question ?">
	    Subscribe to this question. If you already have a subscription, you will be unsubscribed
    </div>
    <div id="callbackMessage"></div>
}

<span onclick="postToFeed()"><img src="http://static.ivona.com/www/static/images/icons/share_facebook.png" /></span>&nbsp;
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://codebase.apphb.com/" data-hashtags="codebase">Tweet</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

@Html.Partial("_AnswerQuestion")
@Html.ActionLink("Back to List", "Index")
<script type="text/javascript">
    $("#dialog-confirm").css("display", "none");
    $("#trigger").click(function () {
        $("#dialog-confirm").dialog({
            resizable: false,
            height: 170,
            modal: true,
            buttons: {
                "Subscribe/Unsubscribe": function () {
                    $.ajax({
                        url: '@Url.Action("Subscribe","Questions")',
                        type: "POST",
                        data: { "questionid": '@Model.question.QuestionId' },
                        success: function (data) {
                            if (data == "subscribed") {
                                $("#dialog-confirm").html("<span style=\"color: red\">You are now subscribed</span>");
                            } else {
                                $("#dialog-confirm").html("<span style=\"color: red\">Your subscription has been cancelled</span>");
                            }
                        }
                    });

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    function postToFeed() {
        var url = '@Request.Url.AbsoluteUri'
        FB.init({ appId: "307745619299083", status: true, cookie: true });
        FB.ui(
  {
      method: 'feed',
      message: 'write code, have fun',
      name: '@Model.question.Title',
      caption: 'CodeBase',
      description: ('CodeBase description'
   ),
      link: url,
      picture: 'http://codebase.apphb.com/Content/img/header_logo.png',
      actions: [
        { name: 'fbrell', link: url }
      ],
      user_message_prompt: 'Share your thoughts about CodeBase'
  });
    }
</script>