@model CodeBase.ViewModel.QAViewModel
@{
    ViewBag.Title = "Details";
}
@using CodeBase.Models

<h2>Details</h2>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.question.Title</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Html.Raw(BBCodeHelper.Format(@Model.question.Content))</div>

    <div class="display-label">Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.question.Date)</div>

    <div class="display-label">Author</div>
    <div class="display-field">@Model.question.Author.Username.ToString()</div>

    <div class="display-label">Answers</div>
    <div class="display-field">@(Model.question.Answers == null ? "None" : Model.question.Answers.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.question.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Request.IsAuthenticated)
{
    String mes = null;
    if (ViewData["subscribed"].Equals("yes"))
    {
        mes = "Unsubscribe";
    }
    else
    {
        mes = "Subscribe";
    }
    <span id="trigger">@Html.Raw(mes + " to this question") </span>
    
    <div id="dialog-confirm" title="Un/Subscribe to this question ?">
	    Subscribe to this question. If you already have a subscription, you will be unsubscribed
    </div>
    <div id="callbackMessage"></div>
    <div id="facebook_">Facebook connect</div>
}


@Html.Partial("_AnswerQuestion")
<script type="text/javascript">
    $("#dialog-confirm").css("display", "none");
    $("#trigger").click(function () {
        $("#dialog-confirm").dialog({
            resizable: false,
            height: 170,
            modal: true,
            buttons: {
                "Subscribe/Unsubscribe": function () {
                    $.ajax({
                        url: '@Url.Action("Subscribe","Questions")',
                        type: "POST",
                        data: { "questionid": '@Model.question.QuestionId' },
                        success: function (data) {
                            if (data == "subscribed") {
                                $("#dialog-confirm").html("<span style=\"color: red\">You are now subscribed</span>");
                            } else {
                                $("#dialog-confirm").html("<span style=\"color: red\">Your subscription has been cancelled</span>");
                            }
                        }
                    });

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });


</script>