@model IEnumerable<CodeBase.Models.Question>

@{
    ViewBag.Title = "Index";
}

@using CodeBase.Models

<h1 class="border">Questions and answers</h1>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Content
        </th>
        <th>
            Date
        </th>
        <th>
            Author
        </th>
        <th>
            Answers
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>
        <td>
			@item.Title
        </td>
        <td style="width:300px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display: block;">
            @Html.Raw(BBCodeHelper.Format(@item.Content))			
        </td>
        <td>
			@String.Format("{0:d/M/yyyy}", item.Date)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Author.Username).ToString()
        </td>
        <td>
			@(item.Answers == null ? "None" : item.Answers.Count.ToString())
        </td>
    </tr>
}

</table>
<div class="table-actions">@Html.ActionLink("Create new", "Create")</div>