@model CodeBase.Models.LogOnModel

@{
    ViewBag.Title = "Log in";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm()) {
    <div class="login-box-title">Log in</div>
    <div class="login-box">
            <div class="label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="field">
                @Html.TextBoxFor(m => m.UserName, new { @class="textfield" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="field">
                @Html.PasswordFor(m => m.Password, new { @class="textfield" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="label-remember">
                @Html.CheckBoxFor(m => m.RememberMe, new { style="vertical-align: text-bottom;"})
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="buttons">
                <input type="submit" value="Log in" class="button" />
                @Html.ActionLink("Create a new account", "Register")
            </div>
    </div>
    @Html.ValidationSummary(true, "Login was unsuccessful.", new {@class="message-error" })
    <div class="push"></div>
}
