@model CodeBase.Models.Article
           
<script defer="defer" src="@Url.Content("~/Scripts/jquery.rateit.min.js")"></script>
<fieldset>
    <legend>Article</legend>
    <div data-rateit-resetable="false" class="rateit" data-rateit-value="@ViewBag.Rating.ToString("F", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))" id="rateit5">
    </div>
    <div>
        <span id="value5"></span><span id="hover5"></span>
    </div>
    <strong>Server response:</strong>
    <ul id="response">
    </ul>
    <script type="text/javascript">
    $(function () { $('#rateit5').rateit({ max: 5, step: 1 }); });
    $("#rateit5").bind('rated', function (event, value) {
        var rateIt = $(this);
        $.post("/Articles/Rate/", { id: "@Model.ArticleId", value: value },
        function (data) {
            $('#rateit5').rateit('value', data.data);
            $('#response').append('<li>Uspeno ste oddali svoj glas.' + data.data + '</li>');
        }
);
        rateIt.rateit('readonly', true);
    });
    </script>
s
    @Html.Partial("ArticleContent", Model)

</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
    @if(ModelHelpers.canEdit(Model)){
        <text>|</text>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) <text>|</text>
        @(Html.ActionLink<ArticlesController>(x => x.Delete(Model.ArticleId), "Delete"))
    }
    @if(Model.Approved==false && ModelHelpers.isEditor()){
    <text>|</text>
    @(Html.ActionLink<ArticlesController>(x=>x.ConfirmArticle(Model.ArticleId), "Confirm"))
    }
</p>
