@model CodeBase.Models.Article
<script defer="defer" src="@Url.Content("~/Scripts/jquery.rateit.min.js")"></script>
<div class="article-rating1">

    <div data-rateit-resetable="false"  class="rateit" data-rateit-value="@ViewBag.Rating.ToString("F", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))" id="rateit5">
    </div>
    <!--<ul id="response">
</ul>-->
</div>
<div>
    <span id="value5"></span><span id="hover5"></span>
</div>


@Html.Partial("ArticleContent", Model)
@if (ModelHelpers.canEdit(Model))
{
    <br />
    <br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) <text>|</text>
    @(Html.ActionLink<ArticlesController>(x => x.Delete(Model.ArticleId), "Delete"))
}
@if (Model.Approved == false && ModelHelpers.isEditor())
{
    <text>|</text>
    @(Html.ActionLink<ArticlesController>(x => x.ConfirmArticle(Model.ArticleId), "Confirm"))
}
<br />
<br />
<script type="text/javascript">
    $(function () { $('#rateit5').rateit({ max: 5, step: 1 }); });
    $("#rateit5").bind('rated', function (event, value) {
        var rateIt = $(this);
        $.post("/Articles/Rate/", { id: "@Model.ArticleId", value: value },
    function (data) {
        $('#rateit5').rateit('value', data.data);
        $('#response').append('<li>Vote accepted.</li>');
    }
);
    });
</script>
