@model IEnumerable<CodeBase.Models.Article>
@{
    ViewBag.Title = "Articles";
}
<h1 class="border">@ViewData["UserName"]'s Articles</h1>
@if (ModelHelpers.isEditor())
{
    <a href="javascript:void(0);" onclick="fnShowHide(5);fnShowHide(6);fnShowHide(7);">Toggle article status<br></a>
}
<table id="tabelica">
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Rating</th>
            <th>Author</th>
            <th>Category</th>
            <th>Comments</th>
            <th>Files</th>
            <th>Confirmed</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{string DateString = ((DateTime)item.Date).ToString("dd/MM/yyyy HH:mm");}@DateString
            </td>
            <td>
                @(Html.ActionLink<CodeBase.Controllers.ArticlesController>(f => f.Details(item.ArticleId, Url.ToFriendlyUrl(item.Title)), item.Title))
            </td>
            <td>
                @(item.Ratings.Count == 0 ? "N/A" : ModelHelpers.AverageRating(item).ToString("0.0"))
            </td>
            <td>
                @Html.RouteLink(item.Author.Username, new { controller = "Users", action = "Details", id = item.Author.UserId })
            </td>
            <td>
                @(Html.ActionLink<CategoriesController>(x=>x.Details(item.CategoryId), item.Category.Title))
            </td>
            <td>
                @(item.Comments == null ? "None" : item.Comments.Count.ToString())
            </td>
            <td>
                @(item.Files == null ? "None" : item.Files.Count.ToString())
            </td>
            <td>
                @item.Approved
            </td>
        </tr>
    }
</table>
<div class="table-actions">@Html.ActionLink("Create new", "Create")</div>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.js"></script>
<script type="text/javascript">

    function fnShowHide(iCol) {
        /* Get the DataTables object again - this is not a recreation, just a get of the object */
        var oTable = $('#tabelica').dataTable();

        var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
        oTable.fnSetColumnVis(iCol, bVis ? false : true);
    }
    $(document).ready(function () {
        $("#tabelica").dataTable();
        fnShowHide(7);
        fnShowHide(6);
        fnShowHide(5);
    });
</script>