@model CodeBase.Models.Article
@{
    ViewBag.Title = Model.Title;
}
@using CodeBase.Models
@{
    String urlTw = "http://codebase.apphb.com/Articles/" + Model.ArticleId;
    String twText = "CodeBase Articles - " + Model.Title;
}

<h1 class="article">@Model.Title</h1>
<div class="article-author">
    <a class="author"href="@{string UserUrl = Html.BuildUrlFromExpression<UsersController>(c => c.Details(Model.Author.UserId));}@UserUrl">@Html.DisplayTextFor(_ => Model.Author.Username).ToString()
    </a>
    @String.Format("{0:MMMM d, yyyy}", Model.Date)
    in <a href="@{string CategoryUrl = Html.BuildUrlFromExpression<CategoriesController>(c => c.Details(Model.Category.CategoryId));}@CategoryUrl"">@(Model.Category == null ? "None" : Model.Category.Title)
    </a>
</div>
@Html.Partial("ArticleFull")
@Html.Partial("RenderFiles", Model.Files)<br />
@if (Request.IsAuthenticated)
{
    String mes = null;
    if (ViewData["subscribed"].Equals("yes"))
    {
        mes = "Unsubscribe";
    }
    else
    {
        mes = "Subscribe";
    }
    <span id="trigger">@Html.Raw(mes + " to this article") </span>
    
    <div id="dialog-confirm" title="Un/Subscribe to this question ?">
        Subscribe to this article. If you already have a subscription, you will be unsubscribed
    </div>
    <div id="callbackMessage"></div>
    
    <script type="text/javascript">
    $("#dialog-confirm").css("display", "none");
    $("#trigger").click(function () {
        $("#dialog-confirm").dialog({
            resizable: false,
            height: 170,
            modal: true,
            buttons: {
                "Subscribe/Unsubscribe": function () {
                    $.ajax({
                        url: '@Url.Action("Subscribe","Articles")',
                        type: "POST",
                        data: { "articleid": '@Model.ArticleId' },
                        success: function (data) {
                            if (data == "subscribed") {
                                $("#dialog-confirm").html("<span style=\"color: red\">You are now subscribed</span>");
                            } else {
                                $("#dialog-confirm").html("<span style=\"color: red\">Your subscription has been cancelled</span>");
                            }
                        }
                    });

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    </script>
}
<span onclick="postToFeed()">
    <img src="http://static.ivona.com/www/static/images/icons/share_facebook.png" />
</span>&nbsp; <a href="https://twitter.com/share" class="twitter-share-button" id="twbutton" data-text="@Html.Encode(twText)" data-url="@Html.Encode(urlTw)" data-hashtags="codebase">
    Tweet</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
<script type="text/javascript">
    function postToFeed() {
        var url = '@Request.Url.AbsoluteUri'
        FB.init({ appId: "307745619299083", status: true, cookie: true });
        FB.ui(
  {
      method: 'feed',
      message: 'write code, have fun',
      name: '@Model.Title',
      caption: 'CodeBase',
      description: ('CodeBase description'
   ),
      link: url,
      picture: 'http://codebase.apphb.com/Content/img/header_logo.png',
      actions: [
        { name: 'fbrell', link: url }
      ],
      user_message_prompt: 'Share your thoughts about CodeBase'
  });
    }
</script>
@Html.Partial("Comments", Model.Comments)
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm(new { action = "AddComment" }))
    {
    <div class="comment-post">
        <h1>Leave a comment</h1>
        <div class="comment-post-textarea-container">
            @Html.ValidationSummary(true)
            @Html.Partial("_CommentCreate", new Comment { ArticleId = Model.ArticleId })
        </div>
        <div class="buttons">
            <input type="submit" class="button" value="Post comment" />
        </div>
    </div>
    }
}
@Html.ActionLink("Back to List", "Index")
<a href="@(Url.Action("Pdf", new { id = Model.ArticleId }))">
    <img src="http://www.ibo.org/img/imagebank/pdf-download.gif" width="20" height="20">
</a>