@model CodeBase.Models.Article
@{
    ViewBag.Title = Model.Title;
}
@using CodeBase.Models
<h2>@Model.Title</h2>
@Html.Partial("ArticleFull")
@Html.Partial("RenderFiles", Model.Files)
@Html.Partial("Comments", Model.Comments)
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm(new { action = "AddComment" }))
    {
    @Html.ValidationSummary(true)
    @Html.Partial("_CommentCreate", new Comment { ArticleId = Model.ArticleId })
    <p>
        <input type="submit" value="Create" />
    </p>
    }
}
