@model IEnumerable<CodeBase.Models.Article>

@{
    ViewBag.Title = "Index";
}
@using CodeBase.Controllers

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Date
        </th>
        <th>
            Author
        </th>
        <th>
            Category
        </th>
        <th>
            Ratings
        </th>
        <th>
            Comments
        </th>
        <th>
            Files
        </th>
    </tr>
@using Microsoft.Web.Mvc
@foreach (var item in Model) {
    <tr>
        <td>
            @(Html.ActionLink<ArticlesController>(f => f.Edit(item.ArticleId),"Edit"))
            @(Html.ActionLink<CodeBase.Controllers.ArticlesController>(f => f.Details(item.ArticleId, Url.ToFriendlyUrl(item.Title)), "Details")) |
            @(Html.ActionLink<ArticlesController>(f => f.Delete(item.ArticleId),"Delete"))
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@String.Format("{0:g}", item.Date)
        </td>
        <td>
            @Html.RouteLink(item.Author.Username, new {controller="Users", action="Details", id = item.Author.UserId })
        </td>
        <td>
			@(item.Category.Title)
        </td>
        <td>
			@(item.Ratings == null ? "None" : item.Ratings.Count.ToString())
        </td>
        <td>
			@(item.Comments == null ? "None" : item.Comments.Count.ToString())
        </td>
        <td>
			@(item.Files == null ? "None" : item.Files.Count.ToString())
        </td>
    </tr>
}

</table>


