@model CodeBase.Models.File

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>File</legend>

    <div class="display-label">Filename</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Filename)
    </div>

    <div class="display-label">Size</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Size)
    </div>

    <div class="display-label">Article</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
