@model IEnumerable<CodeBase.Models.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Filename
        </th>
        <th>
            Size
        </th>
        <th>
            Article
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Article.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileId })
        </td>
    </tr>
}

</table>
