@model CodeBase.Models.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rating</legend>

    <div class="display-label">Value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Author</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.Username)
    </div>

    <div class="display-label">Article</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
