@model IEnumerable<CodeBase.Models.Rating>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Value
        </th>
        <th>
            Date
        </th>
        <th>
            Author
        </th>
        <th>
            Article
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Article.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RatingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RatingId })
        </td>
    </tr>
}

</table>
