@model CodeBase.ViewModel.IndexViewModel
@{
    ViewBag.Title = "code.base";
}
<div class="home-banner">
    <div class="home-banner-1" onclick="location.href='@{string s1=Html.BuildUrlFromExpression<ArticlesController>(x=>x.Index());}@s1'">learn<span style="color:#3db8e8">.</span></div>
    <div class="home-banner-2" onclick="location.href='@{string s2=Html.BuildUrlFromExpression<ArticlesController>(x => x.Create());}@s2'">innovate<span style="color:#3db8e8">.</span></div>
    <div class="home-banner-3" onclick="location.href='@{string s3=Html.BuildUrlFromExpression<QuestionsController>(x => x.Index());}@s3'">share<span style="color:#3db8e8">.</span></div>
</div>
<div class="home-layout">
    <div class="home-row">
        <div class="home-section-1">
            @Html.Partial("~/Views/Articles/ArticleShort.cshtml", Model.Articles)
        </div>
        <div class="home-section-2">
            @Html.Partial("Questions", Model.Questions)
        </div>
    </div>
</div>
<div class="home-layout">
    <div class="home-row">
        <div class="home-section-1">
            @Html.Partial("ActiveUsers", Model.Users)
        </div>
        <div class="home-section-2">
            @Html.Partial("ArticleRating", Model.ArticlesRating)
        </div>
    </div>
</div>
<div class="push"></div>
<!--
<div class="latest">
    <h3>Latest question:</h3>
    <div class="question-author">
        <a class="author"href="@{string UserUrl = Html.BuildUrlFromExpression<UsersController>(c => c.Details(Model.question.Author.UserId));}@UserUrl">@Html.DisplayTextFor(_ => Model.question.Author.Username).ToString()
        </a>
        @String.Format("{0:MMMM d, yyyy}", Model.question.Date)
    </div>
    <div class="question-content">
        @Html.Raw(BBCodeHelper.Format(@Model.question.Content))
    </div>
@(Html.ActionLink<QuestionsController>(x => x.Details(Model.question.QuestionId), "Answer"))
</div>
<br>
<div style="display: inline">
    @Html.Partial("~/Views/Articles/ArticleShort.cshtml", Model.Articles)
    @Html.Partial("ActiveUsers", Model.Users)
    @Html.Partial("Questions", Model.Questions)
    @Html.Partial("ArticleRating", Model.ArticlesRating)
</div>-->
